# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set glance=salt["grains.filter_by"]({
  "Debian": {
    "name": "glance",
    "pkg": "glance",
    "api": {
      "service": "glance-api",
    },
    "registry": {
      "service": "glance-registry",
    },
    "client": {
      "pkg": "python-glanceclient",
    },
  },
  "RedHat": {
    "name": "glance",
    "pkg": "openstack-glance",
    "api": {
      "service": "openstack-glance-api",
    },
    "registry": {
      "service": "openstack-glance-registry",
    },
    "client": {
      "pkg": "python-glanceclient",
    },
  },
  "default":{
    "name": "glance",
    "pkg": "glance",
    "api": {
      "service": "glance-api",
    },
    "registry": {
      "service": "glance-registry",
    },
    "client": {
      "pkg": "python-glanceclient",
    },
  }
  },merge=salt["pillar.get"]("glance:lookup")) %}

# Set the glance default config
{%- set glance_config = {
  "DEFAULT": {
    "debug": "false",
    "verbose": "false",
    "admin_token" : salt["grains.get_or_set_hash"]("keystone:admin_token", length=20, chars="abcdefghijklmnopqrstuvwxyz0123456789"),
  },
  "database": {
    "connection": "mysql://glance:" + salt["pillar.get"]("glance:mysql:password") + "@" + salt["pillar.get"]("glance:mysql:ip", "localhost") + "/glance?charset=utf8",
  },
  "memcache": {
    "servers": salt["pillar.get"]("glance:memcached:ip") |join(":11211,") + ":11211",
  },
  "keystone_authtoken": {
    "driver": "glance.token.backends.memcache.Token",
    "provider": "glance.token.providers.uuid.Provider"
  }
} %}

{% for section, value in salt["pillar.get"]("glance:config", {}).iteritems() %}
  {% if not glance_config.has_key(section) %}
    {% do glance_config.update({ section:{} }) %}
  {% endif %}
  {% do glance_config[section].update(value) %}
{% endfor %}
